:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  --font-main: "Spartan", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main)
}

.bg {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 1.5em 0 1.5em;
  flex: 1;
  justify-content: center;
}

h1 {
  color: var(--very-dark-magenta);
  text-align: center;
  width: 85%;
  max-width: 30ch;
  margin: 0.5em;
}

p {
  color: var(--dark-grayish-magenta);
  font-weight: 500;
  line-height: 1.6em;
  font-size: 0.9375rem;
  text-align: center;
  margin-bottom: 1em;
  max-width: 60ch;
}

h2 {
  font-size: 0.9375rem;
  margin: 0.5em;
  color: var(--very-dark-magenta);
}

h3 {
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--soft-pink);
}

.review h2,
.review p {
  color: var(--white);

}


.review p {
  font-weight: 400;
  font-size: 0.85rem;
  text-align: left;
  margin: 2em 0;
}

.bg-top {
  background-image: url("images/bg-pattern-top-mobile.svg");
  width: 374px;
  height: 232px;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-bottom {
  background-image: url("images/bg-pattern-bottom-mobile.svg");
  width: 375px;
  height: 503px;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  right: 0;

}

.ratings {
  width: 100%;
  max-width: 50ch;
  margin: 0.5em 0;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grayish-magenta);
  border-radius: 10px;
  margin: 1em 0;
  padding: 0.5em 0;
}

.stars {
  background-image: url("images/icon-star.svg");
  background-repeat: space;
  height: 16px;
  width: calc(5.9*17px);
  margin: 0.5em;
}

.reviews {
  max-width: 50ch;
}

.review {
  background-color: var(--very-dark-magenta);
  border-radius: 10px;
  padding: 2.5em 2em 0.5em 2em;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.review h2,
.review h3 {
  width: 100%;
  padding-left: 60px;
  font-size: 0.9rem;
}
.profile-picture {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  position: absolute;
  top: 2.8em;
  left: 2em;
}

.helper-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 376px) {
  .bg-bottom {
    background-image: url("images/bg-pattern-bottom-desktop.svg");
    width: 1085px;
    height: 673px;
    background-size: cover;
    z-index: -1;
  }
}

@media only screen and (min-width: 584px) {
  .bg-top {
    background-image: url("images/bg-pattern-top-desktop.svg");
    width: 584px;
    height: 362px;
    background-size: cover;
    z-index: -1;
  }
}

@media only screen and (min-width: 1440px) {

  .helper-flex {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  h1 {
    font-size: 2.5rem;
    text-align: left;
    max-width: 12ch;
    margin-left: 0;
  }

  .rating h2 {
    margin-left: 2em;
  }

  .product-flex p {
    text-align: left;
    max-width: 37ch;
  }

  main {
    margin: auto;
    width: 78%;
    max-width: 90ch;
    margin-top: 4em;
  }

  .product-flex {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .rating {
    flex-direction: row;
    padding: 0.9em 2.1em;
    width: 35ch;
    margin: 0.4em 0;
  }

  .ratings {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .guru {
    align-self: center;
  }

  .besttech {
    align-self: flex-end;
  }

  .review {
    margin-right: 1em;
    flex: 1;
    height: 18ch;
  }

  .review:last-of-type{
    margin-right: 0;
  }

  .reviews {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3em;
    height: 22ch;
  }

  .irene {
    align-self: center;
  }

  .anne {
    align-self: flex-end;
  }


}
